{
    "GCP_BIGQUERY_DATABASE": "",
    "GCP_STORAGE_BUCKET": "",
    "GCP_SK_CERT_URL": "",
    "GCP_SK_PROJECT_ID": "",
    "GCP_SK_PRIVATE_KEY": "",
    "GCP_SK_PRIVATE_KEY_ID": "",
    "GCP_SK_CLIENT_ID": "",
    "GCP_SK_CLIENT_EMAIL": ""
}